@import "Reset_Styles.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html {
	scroll-behavior: smooth;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
}

.heading {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 800;
	font-size: 40px;
	line-height: 150%;
	color: #333333;
}

.button {
	a {
		display: block;
	}

	display: block;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 150%;
	color: #000;
	padding: 11px 60px 12px;
	transition: all .3s;
	background: #fff;
	border-radius: 200px;
	border: 1px solid black;
	text-align: center;
}

.button:hover {
	a {
		color: #fff;
	}

	background: #F4683F;
	color: #fff;
	transform: scale(1.1);
	border: 1px solid #F4683F;

}

.container {
	padding: 0 260px;
	height: 100%;
}

/*------------------------------ FORM ------------------------------*/


.form {
	font-family: 'Montserrat';
	font-style: normal;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
	visibility: hidden;
	opacity: 0;
	position: absolute;
	transition: all .3s;
}

.form--visible {
	visibility: visible;
	opacity: 1;
}

.form__title {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
	line-height: 130%;
	color: #333333;
	margin-bottom: 58px;
}

.form__subtitle {
	font-weight: 600;
	font-size: 18px;
	line-height: 160%;
	color: #000000;
	margin-bottom: 60px;
}

.form__input {
	border: 1px solid #C0C2D7;
	border-radius: 250px;
	height: 50px;
	padding: 12px 0 14px 20px;
	margin-bottom: 20px;
	position: relative;

	input {
		width: 90%;
		font-weight: 600;
		font-size: 16px;
		line-height: 150%;
		color: #000;
		display: block;
	}

	input::placeholder {
		font-weight: 600;
		font-size: 16px;
		line-height: 150%;
		color: #C0C2D7;
		display: block;
	}
}

.form__input--incorrect {
	border: 1px solid black;

	input::placeholder {
		color: red;
	}
}

.form__button {
	width: 100%;
}

.form__text {
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	color: #000000;
	margin-bottom: 145px;
}

.form__tooltip {
	position: absolute;
	top: 10px;
	right: -45px;
}

.form__tooltip-frame {
	background: url('../img/5.rent/tooltip-frame.png');
	width: 320px;
	height: 132px;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: #FFFFFF;
	padding: 20px 34px 40px 20px;
	position: absolute;
	top: -116px;
	right: -356px;
	visibility: hidden;
	opacity: 0;
	transition: all .3s;
}

.form__tooltip-frame--visible {
	visibility: visible;
	opacity: 1;
}

.form__button {
	width: 100%;
}

.form__cross {
	position: absolute;
	top: -40px;
	right: 0px;
	transition: all .2s;
}

.form__cross-link {
	svg path {
		fill: #333;
	}
}

.form__cross:hover {
	transform: scale(1.2);
}



/*==================================== HEADER ====================================*/
/*==================================== HEADER ====================================*/





.header {
	background: url('../img/1.header/header-bg.jpg') center / cover no-repeat;
	font-family: montserrat;

	&__inner {
		height: 100vh;
		// height: 949px;
		display: flex;
		flex-direction: column;
	}

	.container {
		padding: 0 60px;
	}


	// 	/*------------------------------ HEADER TOP ------------------------------*/


	&__top {
		padding-top: 42px;
		transition: all .3s;
		padding-bottom: 30px;
		font-size: 18px;
	}

	&__top--hidden {
		transform: translateY(-90px);
	}

	&__top-inner {
		display: flex;
		position: relative;
	}

	&__top-left {
		display: flex;
		align-items: center;
	}

	&__logo {
		margin-right: 40px;
	}

	&__logo-link {}

	&__city {
		margin-right: 21px;
	}

	&__city:hover &__dropdown {
		visibility: visible;
		opacity: 1;
	}

	&__city-link {
		color: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 109px;
	}

	&__city-icon {}

	&__city-title {}

	&__city-arrow {}

	/*------------------------------ dropdown ------------------------------*/
	&__dropdown {
		visibility: hidden;
		opacity: 0;
		transition: all .3s;
		position: absolute;
		padding: 10px 10px 10px 20px;
		border-radius: 20px;
	}

	&__dropdown-menu {}

	&__dropdown-item {
		padding: 8px 0;
	}

	&__dropdown-item:hover &__dropdown-link {
		color: #F4683F;
	}

	&__dropdown-link {
		transition: all .3s;
		color: #fff;
	}

	/*----------------------------------------------------------------------*/

	&__button-box {
		display: flex;
	}

	&__button {
		color: #fff;
		background: transparent;
		border-color: #fff;
		padding: 8px 30px 10px;
		z-index: 2;
	}

	&__compilations {
		display: none;
	}

	&__top-center {
		margin: 0 auto;
		display: flex;
		align-items: center;
	}

	&__links {
		display: flex;
		align-items: center;
	}

	&__links-item {
		padding: 0 15px;
	}

	&__links-link {
		color: #fff;
		transition: all .3s;

		&:hover {
			color: #F4683F;
		}
	}

	&__top-right {
		display: flex;
	}

	&__favourites {
		display: flex;
		align-items: center;
		padding: 0 15px;
	}

	&__favourites-link svg path {
		transition: all .3s;
	}

	&__favourites-link:hover {
		svg path {
			fill: #F4683F;
		}
	}

	&__search {
		display: flex;
		align-items: center;
		padding: 0 15px;
	}

	&__search-link {
		color: #fff;
		display: flex;
		align-items: center;
	}

	&__search-link:hover &__search-text {
		color: #F4683F;
	}

	&__search-link:hover &__search-icon {
		svg path {
			fill: #F4683F;
		}
	}

	&__search-icon {
		svg path {
			transition: all .3s;
		}

		margin-right: 10px;
	}

	&__search-text {
		transition: all .3s;
	}

	&__phone {
		display: flex;
		align-items: center;
		padding: 0 0 0 15px;
	}

	&__phone-link {
		color: #fff;
		display: flex;
		align-items: center;
	}

	&__phone-link:hover &__phone-text {
		color: #F4683F;
	}

	&__phone-link:hover &__phone-icon {
		svg path {
			fill: #F4683F;
		}
	}

	&__phone-icon {
		svg path {
			transition: all .3s;
		}

		margin-right: 10px;
	}

	&__phone-text {
		transition: all .3s;
	}

	&__burger {
		display: none;
		align-items: center;
	}

	&__burger-link {
		display: flex;
		align-items: center;
	}


	/*------------------------------ pop up ------------------------------*/

	&__search-pop-up {
		transition: all .3s;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		z-index: 3;
		background: #fff;
		width: 1000px;
		top: 110px;
		right: 210px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 45px 60px;
		border-radius: 20px;
		box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
	}

	&__search-pop-up--active {
		transition: all .3s;
		visibility: visible;
		opacity: 1;
	}

	&__search-input {
		max-width: 600px;
		position: relative;
		margin-left: 28px;

		input {
			width: 600px;
		}
	}

	&__search-input::before {
		content: '';
		display: block;
		position: absolute;
		background: url('../img/1.header/search-icon-pop-up.png') 0 0 / 20px 20px;
		width: 20px;
		height: 20px;
		top: -3px;
		left: -28px;
	}

	&__search-input::after {
		content: '';
		display: block;
		position: absolute;
		background: #C0C2D7;
		width: 680px;
		height: 1px;
		top: 28px;
		left: -28px;
	}

	&__search-button--small {
		display: none;
	}

	/*---------------------------------------------------------------------*/



	&__hide-button {
		position: absolute;
		font-weight: 600;
		top: 80px;
		right: 0px;
		font-family: roboto;
		font-size: 12px;
		z-index: 2;
		line-height: 120%;
	}

	&__hide-link {
		display: block;
		color: #7B7B7B;
		transition: all .3s;
	}

	&__hide-link--small {
		display: none;
	}

	&__compilation-button {
		line-height: 120%;
		position: absolute;
		top: 80px;
		left: 0px;
		font-family: roboto;
		font-size: 12px;
		z-index: 2;
		display: none;
	}

	&__compilation-link {
		font-weight: 600;
		display: block;
		color: #7B7B7B;
		transition: all .3s;
	}

	/*------------------------------ HEADER TOP FIXED ------------------------------*/


	&__top--fixed {
		transition: all .3s;
		position: fixed;
		width: 100%;
		z-index: 100;
		background: #fff;
		padding: 20px 0;
		font-family: 'Montserrat';
		box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
		font-size: 18px;
		border-top: 1px solid #e5e5e5;

		// a:not(.header__hide-link) {
		// 	font-style: normal;
		// 	font-weight: 600;
		// 	// font-size: 18px;
		// 	// line-height: 22px;
		// 	color: #333;
		// }
		a {
			font-style: normal;
			font-weight: 600;
			// font-size: 18px;
			// line-height: 22px;
			color: #333;
		}
	}

	&__dropdown--fixed {
		background: #fff;
	}

	&__phone--fixed {
		display: none;
	}

	&__search--fixed {
		padding-right: 0;
	}

	&__search-icon--fixed {
		svg path {
			fill: #333;
		}
	}

	&__button--fixed {
		border-color: #333;
	}

	&__button--fixed:hover {
		a {
			color: #fff;
		}
	}

	&__favourites--fixed {
		svg path {
			fill: #333;
		}
	}

	&__compilations--fixed {
		display: block;
		margin-left: 20px;
	}


	&__hide-button--fixed {
		padding: 12px 10px;
		border-radius: 10px;
		background: #cfcfcf;
		box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);

		a {
			color: #333;
		}
	}

	&__compilation-button--fixed {
		padding: 12px 10px;
		border-radius: 10px;
		background: #cfcfcf;
		box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);

		a {
			color: #333;
		}
	}

	&__search-pop-up--fixed {
		top: 80px !important;
	}

	/*------------------------------ SIDE ------------------------------*/


	&__side {
		transform: translateX(100%);
		display: none;
	}


	// 	/*==================================== HEADER BODY ====================================*/




	&__body {
		flex: 1 1 auto;
	}

	&__body-inner {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		height: 100%;
	}

	// INFO

	&__body-info {
		max-width: 600px;
	}

	&__body-heading {
		font-family: raleway;
		font-weight: 800;
		font-size: 60px;
		line-height: 140%;
		letter-spacing: 0.02em;
		color: #fff;
		margin-bottom: 30px;
	}

	&__body-text {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 25px;
		line-height: 150%;
		color: #FFFFFF;
		margin-bottom: 91px;
	}

	&__body-text--alter {
		display: none;
	}

	&__slider-outer {
		display: block;
		position: relative;
		margin-bottom: 80px;
	}

	&__slide-inner {
		padding: 0 18px;
		overflow: visible;
	}

	&__slide {
		display: block;
	}

	&__slide-image {
		margin-bottom: 14px;

		img {
			width: 160px;
			height: 100px;
			border-radius: 16px;
		}
	}

	&__slide-caption {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 150%;
		text-align: center;
		color: #FFFFFF;
	}

	&__slider-arrow-prev {
		position: absolute;
		top: 40px;
		left: -34px;
	}

	&__slider-arrow-next {
		position: absolute;
		top: 40px;
		right: -26px;
	}


	&__application {
		display: none;
	}

	&__socials {
		max-width: 205px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__socials-link svg path {
		transition: all .3s;
	}



	&__socials-item:hover &__socials-link svg path {
		fill: #F4683F;
	}

	// FORM

	&__form {
		height: 497px;
		background: #fff;
		border-radius: 20px;
		padding: 59px 40px 57px;
		transform: translateY(-50px);
	}

	&__form-data {
		margin-bottom: 26px;
	}

	&__form-dates {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;

		.header__form-field::before {
			content: '';
			display: block;
			width: 1px;
			height: 36px;
			background: #C0C2D7;
			position: absolute;
			top: 6px;
			left: 140px;
		}
	}

	&__form-labels {
		width: 240px;
		display: flex;
		justify-content: space-between;
		margin-bottom: 6px;
	}

	&__form-label {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 150%;
		color: #444444;
	}

	&__form-field {
		border: 1px solid #C0C2D7;
		display: flex;
		width: 280px;
		height: 50px;
		border-radius: 200px;
		position: relative;
	}

	&__form-input {
		display: flex;

		input {
			margin-left: 22px;
			width: 100px;
			display: block;

			&::placeholder {
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 150%;
				color: #C0C2D7;
				padding: 0 10px;
			}
		}
	}

	&__form-people {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 48px;
	}


	&__form-price {
		padding: 10px 16px;

		&::after {
			content: "";
			clear: both;
			display: table;
		}
	}


	&__form-price .ui-slider {
		position: relative;
		background: #808080;
		height: 2px;
	}

	&__form-price .ui-slider .ui-slider-handle {
		position: absolute;
		width: 8px;
		height: 23px;
		cursor: pointer;
		border-radius: 10px;
		top: -10px;
		background: #F4683F;
		z-index: 2;

	}

	&__form-price-left-outer {
		float: left;
	}

	&__form-price-right-outer {
		float: right;
	}

	&__form-price-left-outer,
	&__form-price-right-outer {
		margin-top: 30px;
		display: flex;
		align-items: center;

		input {
			width: 70px;
		}

		font-size: 18px;
	}

	&__form-price-left,
	&__form-price-right {
		text-align: center;
		font-size: 18px;
		width: 140px;
		// margin-top: 30px;
	}

	&__form-price-left {
		float: left;
	}

	&__form-price-right {
		float: right;
	}

	&__form-link {
		margin: 0 auto;
		display: flex;
		width: 280px;
		height: 50px;
		justify-content: center;
		align-items: center;
	}

	/*==================================== HEADER BOTTOM ====================================*/

	&__bottom {
		display: none;
	}
}

/*==================================== ABOUT ====================================*/
/*==================================== ABOUT ====================================*/


.about {
	padding-top: 200px;
	padding-bottom: 200px;
	background: url('../img/2.about-us/about-bg.jpg') right / 50% no-repeat;

	&__heading {
		margin-bottom: 76px;
	}

	&__items-inner {
		display: flex;
		justify-content: space-between;
	}

	&__items-item {
		margin-right: 80px;
		max-width: 331px;
		min-width: 240px;
	}

	&__items-item:last-child {
		margin-right: 0px;
	}

	&__items-icon {
		margin-bottom: 20px;
	}

	&__items-text {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 160%;
		color: #333333;
	}
}

/*==================================== COMPILATIONS ====================================*/
/*==================================== COMPILATIONS ====================================*/


.compilations {
	display: none;
	padding-top: 90px;
	margin-bottom: 100px;

	&__heading {
		margin-bottom: 40px;
	}

	&__grid {
		display: grid;
		grid-template: repeat(3, 1fr) / repeat(2, 1fr);
		justify-items: center;
		column-gap: 22px;
	}

	&__item {
		min-width: 110px;
		margin-bottom: 22px;
	}

	&__item-link {
		display: block;
	}

	&__item-image {
		margin-bottom: 10px;

		img {
			border-radius: 16px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__item-title {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 160%;
		text-align: center;
		color: #333333;
	}
}

/*==================================== POPULAR ====================================*/
/*==================================== POPULAR ====================================*/



.popular {
	margin-bottom: 200px;

	&__heading {
		margin-bottom: 80px;
	}

	&__cards-grid {
		display: grid;
		grid-template: repeat(2, 1fr) / repeat(3, 1fr);
		// justify-items: center;
		gap: 40px;
		margin-bottom: 80px;
	}

	&__cards-card {
		max-width: 440px;
		border-radius: 20px;
		background: #fff;
		position: relative;
		box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
		transition: all .3s;
	}

	&__cards-card:hover {
		transform: scale(1.1);
	}

	&__cards-image {
		margin-bottom: 30px;
		position: relative;

		img {
			width: 100%;
			border-radius: 20px 20px 0 0;
		}
	}

	&__cards-amount {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 150%;
		color: #727488;
		background: #fff;
		padding: 7px 12px 8px 39px;
		border-radius: 50px;
		position: absolute;
		top: 30px;
		right: 30px;
	}

	&__cards-amount::before {
		content: '';
		display: block;
		width: 14px;
		height: 19px;
		background: url('../img/3.popular/icons/icon_person.svg');
		position: absolute;
		top: 7px;
		left: 20px;
	}

	&__cards-like {
		background: #ffffff80;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		position: absolute;
		right: 20px;
		bottom: 20px;

		// position: relative;
		svg {
			position: absolute;
			top: 32%;
			left: 30%;
		}

		transition: all .3s;
	}

	&__cards-like--active {
		& svg path {
			fill: #F4683F;
		}
	}

	&__cards-like:active {
		transform: scale(0.9);
	}

	&__cards-info {
		padding: 0px 30px;
	}

	&__cards-title {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 800;
		font-size: 24px;
		line-height: 150%;
		color: #333333;
		margin-bottom: 16px;
	}

	&__cards-features {
		margin-bottom: 27px;
	}

	&__cards-feature {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 150%;
		color: #727488;
		position: relative;
		margin-bottom: 8px;
		padding-left: 35px;
	}

	&__cards-feature:first-child::before {
		content: '';
		display: block;
		background: url('../img/3.popular/icons/icon_bed.svg');
		width: 23px;
		height: 17px;
		position: absolute;
		top: 5px;
		left: 0px;
	}

	&__cards-feature:nth-child(2)::before {
		content: '';
		display: block;
		background: url('../img/3.popular/icons/icon_entertainment.svg');
		width: 19px;
		height: 19px;
		position: absolute;
		top: 4px;
		left: 0px;
	}

	&__cards-feature:nth-child(3)::before {
		content: '';
		display: block;
		background: url('../img/3.popular/icons/icon_sauna.svg');
		width: 17px;
		height: 24px;
		position: absolute;
		top: 0px;
		left: 0px;
	}

	&__cards-feature:last-child::before {
		content: '';
		display: block;
		background: url('../img/3.popular/icons/icon_waterpool.svg');
		width: 21px;
		height: 19px;
		position: absolute;
		top: 5px;
		left: 0px;
	}

	&__cards-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;
	}

	&__cards-price {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 800;
		font-size: 22px;
		line-height: 150%;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #333333;
	}

	&__cards-details {
		margin-right: 0;
	}

	&__cards-link {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 150%;
		color: #333333;
		transition: all .3s;
	}

	&__cards-link:hover {
		color: #F4683F;
	}

	&__button {
		max-width: 280px;
		margin: 0 auto;
		padding: 10px 40px;
		display: block;
	}
}

/*==================================== CERVICES ====================================*/
/*==================================== CERVICES ====================================*/



.cervices {
	margin-bottom: 250px;

	&__content {
		width: 100%;
	}


	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}

	&__heading {
		margin-bottom: 80px;
	}

	&__grid {
		display: grid;
		grid-template: repeat(2, 1fr) / repeat(3, 1fr);
		margin-bottom: 60px;
		gap: 40px;
	}

	&__grid-link {
		padding: 49px 0px 50px 44px;
		border-radius: 20px;
		box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
		display: flex;
		align-items: center;
		transition: all .3s;
		background: #fff;
	}

	&__grid-link:hover {
		transform: scale(1.1);
	}

	&__grid-icon {
		margin-right: 22px;
	}

	&__grid-title {
		margin-right: 40px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 150%;
		color: #333333;
	}

	&__button {
		max-width: 280px;
		margin: 0 auto;
		padding: 10px 40px 13px;
	}

	&__form {
		max-width: 550px;
		padding: 80px 96px 97px;
		top: -14px;
	}
}


/*==================================== FAQ ====================================*/
/*==================================== FAQ ====================================*/


.faq {
	margin-bottom: 250px;

	&__heading {
		margin-bottom: 80px;
	}

	&__acc-item {
		// margin-bottom: 28px;
		position: relative;
		padding: 28px 0;
	}

	&__acc-item::before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 1px;
		left: 0px;
		top: 0px;
		background: #C0C2D7;
	}

	&__acc-item:last-child:after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 1px;
		left: 0px;
		bottom: 0px;
		background: #C0C2D7;
	}

	&__acc-question {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__acc-question-text {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 800;
		font-size: 22px;
		line-height: 150%;
		color: #333333;
	}

	&__acc-question:hover {
		cursor: pointer;
	}

	&__acc-question-button-box {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-right: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all .3s;
	}

	&__acc-question-button-box:hover {
		background: #EEEEEE;
		cursor: pointer;
	}

	&__acc-answer {
		margin-top: 17px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 160%;
		color: #000000;
		max-width: 1290px;
		transition: all .3s;
		display: none;
	}

	&__acc-item--active {
		.line2 {
			transform: rotate(180deg);
		}
	}
}

.line1 {
	position: absolute;
	display: block;
	width: 14px;
	height: 2px;
	background: #000;
}

.line2 {
	transition: all .3s;
	position: absolute;
	display: block;
	width: 14px;
	height: 2px;
	background: #000;
	transform: rotate(90deg);
}

/*==================================== RENT ====================================*/
/*==================================== RENT ====================================*/


.rent {
	background: url('../img/5.rent/rent-bg.jpg') center 0px / cover no-repeat;
	padding-top: 116px;
	padding-bottom: 60px;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1200px;
	}

	&__heading {
		color: #fff;
		margin-bottom: 20px;
	}

	&__info {
		margin-right: 20px;
	}

	&__text {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 160%;
		color: #FFFFFF;
		margin-bottom: 60px;
		max-width: 360px;
	}

	&__button {
		padding: 10px 51px 13px 50px;
		max-width: 262px;
	}

	&__button:active {
		transform: scale(0.9);
	}


	&__form {
		max-width: 500px;
		padding: 80px 96px 97px;
		position: relative;
	}

}


/*==================================== FOOTER ====================================*/
/*==================================== FOOTER ====================================*/


.footer {
	background: linear-gradient(180deg, #161723 0%, #161723 109.24%);

	&__top {
		padding-top: 78px;
	}

	&__top-inner {
		display: flex;
		justify-content: space-between;
		align-items: start;
	}


	&__logo-link {
		display: block;
		// height: 38px;
	}

	&__catalog-title {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 800;
		font-size: 22px;
		color: #FFFFFF;
		margin-bottom: 17px;
	}

	&__list-item {
		margin-bottom: 12px;
	}

	&__list-link {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		color: #C0C2D7;
		transition: all .3s;
	}

	&__list-link:hover {
		color: #F4683F;
	}

	&__links-item {
		margin-bottom: 13px;
	}

	&__links-link {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		color: #C0C2D7;
		transition: all .3s;
	}

	&__links-link:hover {
		color: #F4683F;
	}

	&__tel {
		display: flex;
		align-items: center;
		position: relative;
		padding-left: 24px;
	}

	&__tel-icon {
		margin-right: 9.5px;
		position: absolute;
		top: 2px;
		left: 0px;
	}

	&__tel-icon svg path {
		transition: all .3s;
	}

	&__tel:hover &__tel-icon svg path {
		fill: #F4683F;
	}


	&__tel-number {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		color: #C0C2D7;
		transition: all .3s;
	}

	&__tel:hover &__tel-number {
		color: #F4683F;
	}

	&__bottom {
		padding-bottom: 70px;
		margin-top: -50px;
	}

	&__bottom-inner {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		margin-bottom: 4px;
	}

	&__link:hover {
		color: #F4683F;
	}

	&__link {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 150%;
		color: #404256;
		transition: all .3s;
	}

	&__socials {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 207px;
		flex: 1 1 auto;
	}

	&__socials-item svg path {
		transition: all .3s;
	}

	&__socials-item:hover {
		svg path {
			fill: #F4683F;
		}
	}
}





/*==================================== MEDIA ====================================*/
/*==================================== MEDIA ====================================*/

/*------------------------------ 1800 ------------------------------*/


@media (max-width: 1800px) {
	.container {
		padding: 0 200px;
	}

	.header {
		&__hide-button {}
	}
}

// /*------------------------------ 1700 ------------------------------*/

@media (max-width: 1700px) {
	.rent {
		&__form-tooltip-frame {
			width: 270px;
			height: 110px;
			right: -25px;
			top: -93px;
			background: url('../img/5.rent/tooltip-frame-2.png');
			padding: 20px 28px 36px 20px;
			font-size: 13px;
		}
	}
}

// /*------------------------------ 1650 ------------------------------*/


@media (max-width: 1650px) {
	.container {
		padding: 0 100px;
	}

	.header {
		&__top {
			font-size: 16px;
		}

		&__button {
			font-size: 16px;
		}

		&__search-pop-up {
			top: 110px;
			right: 190px;
			// padding: 
			// width: 890px;
		}

		&__search-button {
			font-size: 16px;
		}

		&__search-input::after {
			width: 600px;
			height: 1px;
		}
	}



	.rent {
		.container {
			padding: 0px 260px;
		}
	}
}


/*------------------------------ 1600 ------------------------------*/

@media (max-width: 1600px) {
	.header {
		&__logo-link {
			img {
				width: 183px;
			}
		}
	}
}

// /*------------------------------ 1550 ------------------------------*/


@media (max-width: 1550px) {



	.about {
		&__items-item {
			min-width: none;
		}
	}

	.popular {
		&__cards-title {
			font-size: 20px;
		}

		&__cards-price {
			font-size: 20px;
		}
	}

	.cervices {
		&__grid-title {
			font-size: 16px;
		}
	}

}

/*------------------------------ 1500 ------------------------------*/

@media (max-width: 1500px) {
	.header {
		.container {
			padding: 0 50px;
		}
	}
}

// /*------------------------------ 1450 ------------------------------*/

@media (max-width: 1450px) {

	.header {
		&__top {
			font-size: 14px;
		}

		&__search-pop-up {
			right: 170px;
			padding: 30px;
			width: 890px;
		}

		&__search-button {
			font-size: 16px;
		}

		&__search-input::after {
			width: 600px;
			height: 1px;
		}
	}

	.form {
		max-width: 450px;
		padding: 50px 50px 50px 50px;

		&__title {
			font-size: 26px;
			margin-left: 6px;
			text-align: center;
			max-width: 280px;
			margin: 0 auto 40px;
		}

		&__subtitle {
			margin: 0 auto 60px;
			text-align: center;
		}

		&__input {
			height: 40px;
			padding: 8px 0px 11px 20px;
		}

		&__text {
			max-width: 230px;
			margin: 0 auto 95px;
			text-align: center;
		}

		&__close-button {
			margin: 0 auto;
		}

		input::placeholder {
			font-size: 14px;
		}

	}

	.rent {
		&__form-tooltip {
			top: 4px;
			right: -39px;
		}
	}

	.footer {
		&__logo-link {
			img {
				width: 182px;
				height: 24px;
			}
		}

		&__catalog-title {
			font-size: 22px;
		}

		&__list-link {
			font-size: 14px;
		}

		&__links-link {
			font-size: 14px;
		}

		&__tel-number {
			font-size: 14px;
		}

		&__link {
			font-size: 12px;
		}
	}
}

// /*------------------------------ 1400 ------------------------------*/


@media (max-width: 1400px) {
	.container {
		padding: 0px 50px;
	}

	.heading {
		font-size: 36px;
	}

	.header {

		&__menu {
			font-size: 14px;
		}

		&__logo {
			margin-right: 24px;
		}

		&__city {
			margin-right: 14px;
		}

		&__city-link {
			width: 100px;
		}

		&__favourites {
			padding: 0 8px;
		}

		&__search {
			padding: 0 8px;
		}

		&__phone {
			padding-left: 8px;
		}



		&__button {
			font-size: 14px;
			padding: 10px 20px 13px;
		}

		&__body-inner {
			justify-content: space-between;
		}

		&__body-heading {
			font-size: 56px;
			line-height: 140%;
			letter-spacing: 0.02em;
		}

		&__text {
			font-size: 22px;
		}

		&__form {
			transform: translate(-100px, -50px);
			height: 429px;
			padding: 59px 40px 50px;
		}

		&__form-label {
			font-size: 14px;
		}

		&__form-field {
			height: 40px;
		}

		&__form-people {
			margin-bottom: 30px;
		}

		&__form-price-right,
		&__form-price-left {
			font-size: 14px;
		}

		&__form-data {
			margin-bottom: 20px;
		}


		&__search-pop-up {
			top: 60px;
			right: 160px;
			// padding: 30px;
			width: 860px;
		}
	}

	.header__form-dates .header__form-field::before {
		height: 26px;
	}

	.about {
		&__items-text {
			font-size: 14px;
		}
	}

	.popular {
		&__cards-title {
			font-size: 18px;
		}

		&__cards-price {
			font-size: 18px;
		}
	}

	.cervices {
		&__grid-title {
			font-size: 14px;
		}

		&__grid-link {
			// padding: 44px 0 44px 44px;
			height: 130px;
		}
	}

	.faq {
		&__acc-answer {
			font-size: 14px;
		}

		&__acc-question-button-box {
			margin-right: 0px;
			width: 30px;
			height: 30px;
		}
	}
}


// /*------------------------------ 1330 ------------------------------*/


@media (max-width:1300px) {

	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 50;
		background: rgba(0, 0, 0, 0.350);
		visibility: hidden;
		opacity: 0;
		transition: all .3s;
	}

	.overlay--show {
		visibility: visible;
		opacity: 1;
	}



	.header {

		&__city {
			display: none;
		}

		&__burger {
			display: flex;
			margin-left: 20px;
		}

		&__burger--fixed {
			svg path {
				fill: #333;
			}
		}

		&__top-center {
			display: none;
		}

		&__top-right {
			margin-left: auto;
		}

		&__side {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 600;
			display: block;
			position: fixed;
			top: 0;
			bottom: 0;
			right: 0;
			background: #161723;
			z-index: 100;
			min-width: 360px;
			height: 100%;
			transition: all .3s;
			padding: 30px 50px 80px;
		}

		&__side-top {

			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__side-logo {
			img {
				width: 170px;
			}
		}

		&__side-main {
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: space-evenly;
			align-items: center;
			padding: 50px 0;
		}

		&__side-city {

			font-size: 17px;
			line-height: 21px;
			color: #FFFFFF;
			width: 108px;
		}

		&__side-city-link {
			display: flex;
			align-items: center;
			justify-content: space-between;
			color: #fff;
			margin-bottom: 20px;
			cursor: pointer;
		}

		&__side-city:hover &__side-dropdown {
			visibility: visible;
			opacity: 1;
		}

		&__side-dropdown {
			visibility: hidden;
			opacity: 0;
			transition: all .3s;
			position: absolute;
			margin-top: -12px;
		}

		&__side-dropdown-menu {
			background: #fff;
			border-radius: 10px;
			padding: 0 20px;
		}

		&__side-dropdown-item {
			padding: 8px 0;
		}

		&__side-dropdown-item:hover &__side-dropdown-link {
			color: #F4683F;
		}

		&__side-dropdown-link {
			transition: all .3s;
			color: #333;
		}

		&__side-button {
			background: transparent;
			border: 1px solid #fff;
			color: #fff;
			margin-bottom: 24px;
			padding: 12px 40px;
		}

		&__side-links {}

		&__side-link {
			font-size: 16px;
			line-height: 20px;
			color: #C0C2D7;
			display: block;
			margin-bottom: 12px;
			transition: all .3s;
		}

		&__side-link:hover {
			color: #F4683F;
		}

		&__side-phone {
			width: 171px;
			display: flex;
			justify-content: space-between;
			margin-bottom: 20px;

			svg path {
				transition: all .3s;
			}
		}

		&__side-phone-number {
			font-size: 16px;
			line-height: 20px;
			color: #C0C2D7;
			transition: all .3s;
		}

		&__side-phone:hover &__side-phone-number {
			color: #F4683F;
		}

		&__side-phone:hover &__side-phone-icon {
			svg path {
				fill: #F4683F;
			}
		}

		&__side-socials {
			width: 207px;
			margin-bottom: 20px;
		}


		&__side--open {
			transform: translateX(0%);

		}

		&__search-pop-up {
			right: 200px;
			// padding: 30px;
			width: 700px;
		}

		&__search-input::after {
			width: 450px;
			height: 1px;
		}

		&__search-input input {
			width: 450px;
		}

		&__search-button {
			padding: 10px 30px 13px;
		}
	}

	.about {
		&__items-item {
			min-width: auto;
			max-width: 250px;
		}
	}

	.cervices {
		&__grid {
			grid-template: repeat(3, 1fr) / repeat(2, 1fr);
		}

		&__form {
			top: 108px;
		}
	}

	.rent {
		.container {
			padding: 0 200px;
		}
	}

}

// /*------------------------------ 1250 ------------------------------*/

@media (max-width: 1250px) {
	.header {
		&__body-heading {
			font-size: 40px;
		}

		&__body-text {
			font-size: 20px;
		}

		&__form {
			transform: translate(0, -50px);
		}

		&__search-pop-up {
			// padding: 20px 30px;
		}
	}

	.popular {
		&__cards-bottom {
			flex-direction: column;
		}

		&__cards-price {
			margin-bottom: 10px;
		}
	}

	.rent {
		.container {
			padding: 0 100px;
		}
	}

	.footer {
		&__logo {
			margin-right: 100px;
		}
	}
}

// /*------------------------------ 1120 ------------------------------*/

@media (max-width: 1120px) {
	.header {
		&__form {
			display: none;
		}

		&__body-inner {
			justify-content: center;
		}

		&__application {
			display: block;
			max-width: 292px;
			margin: 0 auto 60px;
		}

		&__body-socials {
			margin: 0 auto;
		}

		&__body-info {
			width: 100%;
		}

		&__application-button {
			padding: 11px 30px 12px;
		}

		&__search-pop-up {
			right: 50%;
			margin-right: -315px;
			max-width: 630px;
		}

		&__search-input input {
			width: 420px;
		}

		&__search-input::after {
			width: 420px;
		}
	}

	.faq {
		&__acc-question-text {
			max-width: 850px;
		}

		&__acc-question-button-box {
			flex-shrink: 0;
		}
	}
}


// /*------------------------------ 1050 ------------------------------*/

@media (max-width: 1050px) {
	.heading {
		text-align: center;
	}

	.header {
		&__compilations {
			display: none;
		}
	}

	.about {
		padding-top: 80px;
		padding-bottom: 80px;

		&__items-inner {
			display: grid;
			grid-template: 1fr 1fr / 1fr 1fr;
			justify-items: center;
		}

		&__items-item {
			margin-right: 0;
		}

		&__heading {
			text-align: center;
		}
	}

	.popular {
		margin-bottom: 80px;

		&__cards-grid {
			grid-template: repeat(3, 1fr) / repeat(2, 1fr);
		}
	}

	.cervices {
		margin-bottom: 80px;
	}

	.faq {
		margin-bottom: 80px;
	}

	.rent {

		&__heading {
			text-align: left;
		}

		&__text {
			// text-align: center;
		}

		&__inner {
			// justify-content: center;
		}
	}


}

/*------------------------------ 980 ------------------------------*/

@media (max-width: 980px) {

	.form {
		&__subtitle {
			font-size: 16px;
		}

		&__text {
			font-size: 16px;
		}
	}

	.header {
		&__menu-items--right {
			.header__menu-item {
				margin-left: 30px;
			}
		}

		&__favourites {
			padding: 0 20px;

			svg {
				width: 30px;
				height: 30px;
			}
		}

		&__favourites-link {
			height: 30px;
		}

		&__search {
			padding: 0 20px;

			svg {
				width: 30px;
				height: 30px;
			}
		}

		&__search-text {
			display: none;
		}

		&__phone-text {
			display: none;
		}

		&__search-icon {
			margin-right: 0;
			height: 30px;
		}

		&__phone {
			padding: 0 20px;
			margin-right: 8px;

			svg {
				width: 30px;
				height: 30px;
			}
		}

		&__phone--fixed {
			display: flex;

			svg path {
				fill: #333;
			}
		}

		&__burger {
			margin: 0;

			svg {
				width: 30px;
				height: 30px;
			}
		}

		&__burger-link {
			height: 30px;
		}
	}

	.rent {
		.container {
			padding: 0 50px;
		}

		&__inner {
			position: relative;
			justify-content: center;
		}

		&__form {
			position: absolute;
			top: -65px;
		}

		&__form-text {
			margin-bottom: 50px;
		}

		&__info {
			margin-right: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__heading {
			text-align: center;
		}

		&__text {
			text-align: center;
		}
	}

	.footer {
		&__top-inner {
			margin-bottom: 20px;
		}

		&__top-col {
			margin-right: 20px;
		}

		&__logo {
			margin-right: 0;
			margin-bottom: 20px;
		}

		&__catalog-title {
			cursor: pointer;
			margin: 0;
			pointer-events: all;
		}

		&__catalog-list {
			margin-top: 17px;
			display: none;
		}

		&__bottom {
			margin-top: 0;
		}
	}
}



/*------------------------------ 900 ------------------------------*/

@media (max-width: 900px) {


	.heading {
		text-align: center;
	}

	.header {
		&__side {
			min-width: 100%;
		}
	}

	.cervices {
		&__grid {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__grid-link {
			width: 408px;
		}

		&__form {
			top: auto;
			bottom: 90px;
		}
	}
}

/*------------------------------ 860 ------------------------------*/

@media (max-width: 860px) {
	.footer {
		&__top-inner {
			flex-direction: column;
		}

		&__top-col {
			margin-bottom: 20px;
		}
	}
}



/*------------------------------ 850 ------------------------------*/

@media (max-width: 850px) {
	.header {
		&__compilations--fixed {
			display: none;
		}
	}

	.faq {
		&__acc-question-text {
			font-size: 18px;
		}
	}
}




/*------------------------------ 800 ------------------------------*/

@media (max-width: 800px) {
	.header {

		&__top {
			padding: 30px 0;
		}

		&__city {
			display: none;
		}

		&__button {
			display: none;
		}

		&__bottom {
			display: block;
			position: fixed;
			bottom: 0;
			height: 60px;
			width: 100%;
			background: #fff;
			box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
			z-index: 100;
			border-bottom: 1px solid #e5e5e5;
		}

		&__bottom-menu {
			display: flex;
			justify-content: space-around;
			padding: 10px 0;
			height: 100%;
		}

		&__bottom-link {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 600;
			font-size: 12px;
			line-height: 150%;
			text-align: center;
			color: #333333;
			height: 100%;
		}

		&__bottom-link:hover &__bottom-text {
			color: #F4683F;
		}

		&__bottom-link:hover &__bottom-icon {
			svg path {
				fill: #F4683F;
			}
		}

		&__bottom-text {
			transition: all .3s;
		}

		&__bottom-icon svg path {
			transition: all .3s;
		}

		&__compilation-button {
			display: block;
		}

		&__search-pop-up {
			border-radius: 0;
			height: 94px;
			top: -30px;
			right: 0px;
			left: 0;
			max-width: 100vw;
			width: 100vw;
			margin-left: -50px;
			margin-right: -50px;
		}

		&__search-input {
			flex: 1 1 450px;

			input {
				width: 90%;
			}
		}

		&__search-input::after {
			width: 100%;
			// max-width: 590px;
		}

		&__search-pop-up--fixed {
			top: -30px !important;
		}
	}

	.about {
		padding-bottom: 0px;
	}

	.compilations {
		display: block;
	}
}

/*------------------------------ 760 ------------------------------*/

@media (max-width: 760px) {
	.nav {
		&__search-link {
			display: none;
		}

		&__phone-link {
			display: none;
		}
	}
}

/*------------------------------ 700 ------------------------------*/

@media (max-width: 700px) {
	.header {

		&__top {
			// padding-top: 30px;
		}

		&__body-heading {
			text-align: center;
		}

		&__body-text {
			text-align: center;
			max-width: 400px;
			margin: 0 auto 90px;
		}

		&__slider-outer {
			width: 400px;
			margin: 0 auto 80px;
		}

		&__slide-image img {
			width: 364px;
			height: 220px;
		}

		&__slide {
			max-width: 100%;
		}

		&__slider-arrow-next {
			top: 100px;
		}

		&__slider-arrow-prev {
			top: 100px;
		}
	}

	.about {
		&__items-inner {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__items-item {
			margin-bottom: 40px;
			display: flex;
			justify-content: space-between;
			max-width: 300px;
		}

		&__items-text {
			max-width: 250px;
		}

		&__items-icon {
			min-width: 40px;
			margin-right: 20px;
		}
	}

	.compilations {
		&__item-title {
			font-size: 16px;
		}
	}

	.popular {
		&__cards-grid {
			grid-template: repeat(6, 1fr) / 1fr;
			justify-items: center;
		}

		&__heading {
			text-align: center;
		}
	}
}


/*------------------------------ 630 ------------------------------*/

@media (max-width: 630px) {
	.compilations {}

	.footer {
		&__bottom-inner {
			flex-direction: column-reverse;
		}

		&__socials {
			margin-bottom: 20px;
		}

		&__item {
			margin-bottom: 10px;
		}
	}
}

/*------------------------------ 570 ------------------------------*/

@media (max-width: 570px) {
	.header {
		&__favourites {
			display: none;
		}

		&__hide-button {
			padding: 12px 10px;
			width: 84px;
			height: 53px;
			text-align: center;
			border-radius: 50%;
			background: #cfcfcf;
			box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
		}

		&__hide-link {
			color: #333;
		}

		&__hide-link--large {
			display: none;
		}

		&__hide-link--small {
			display: block;
		}

		&__compilation-button {
			padding: 12px 10px;
			width: 84px;
			height: 53px;
			text-align: center;
			border-radius: 50%;
			background: #cfcfcf;
			box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
		}

		&__compilation-link {
			color: #333;
		}
	}


}

/*------------------------------ 530 ------------------------------*/

@media (max-width: 530px) {
	.header {
		&__body-text {
			display: none;
		}

		&__slider-outer {
			display: none;
		}

		&__body-socials {
			display: none;
		}

		&__body-text--alter {
			display: block;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 150%;
			text-align: center;
			color: #FFFFFF;
			margin-bottom: 50px;
		}

		&__side-button {
			margin-bottom: 12px;
			font-size: 14px;
			padding: 8px 15px 11px;
		}

		&__side-main {
			// padding-bottom: 80px;
		}

		&__menu-items--right {
			max-width: 180px;
		}

		&__search-pop-up {
			height: 92px;
		}

		&__search-input::before {
			display: none;
		}

		&__search-input::after {
			display: none;
		}

		&__search-button--large {
			display: none;
		}

		&__search-button--small {
			display: block;
		}

		&__search-button {
			padding: 10px 10px 10px 10px;
			// height: 50px;
			width: 40px;
			height: 40px;

			svg {
				width: 20px;
				height: 20px;
			}
		}

		&__search-button svg path {
			transition: all .3s;
		}

		&__search-button:hover svg path {
			fill: #fff;
		}

		&__search-input {
			margin-left: 0;
		}
	}

	.faq {
		&__acc-question-text {
			font-size: 16px;
		}
	}
}


/*------------------------------ 500 ------------------------------*/

@media (max-width: 500px) {
	.header {
		&__search {
			padding: 0 10px;
		}

		&__phone {
			padding: 0 10px;
			margin-right: 0;
		}
	}

	.form {
		min-width: 320px;
		padding: 50px 50px 50px 30px;

		&__subtitle {
			font-size: 14px;
			margin-bottom: 40px;
		}

		&__text {
			font-size: 14px;
		}

		&__button {
			padding: 10px 0;
		}

	}
}


/*------------------------------ 470 ------------------------------*/

@media (max-width: 470px) {
	.header .container {
		padding: 0 20px 0;
	}

	.header {
		&__search-pop-up {
			margin-left: -20px;
			margin-right: -20px;
		}
	}

	.cervices {
		&__grid-link {
			padding: 20px;
			height: 90px;
			width: 300px;
		}

		&__grid-title {
			margin-right: 0;
		}

		&__button {
			max-width: none;
		}
	}
}

/*------------------------------ 430 ------------------------------*/

@media (max-width: 430px) {
	.compilations {
		&__grid {
			grid-template: repeat(5, 1fr) / 1fr;
		}
	}
}

/*------------------------------ 400 ------------------------------*/

@media (max-width: 400px) {
	.heading {
		font-size: 24px;
		text-align: center;
	}

	.header {
		&__logo-link {
			img {
				width: 170px;
			}
		}

		&__phone {
			padding: 0;
			margin-right: 15px;
		}

		&__phone-icon {
			margin-right: 0;
		}

		&__search {
			padding: 0;
			margin-right: 15px;
		}

		&__application-button {
			padding: 11px 20px;
			text-align: center;
		}

		&__side {
			padding: 30px 20px 80px;
		}


	}

	.popular {
		&__cards-title {
			font-size: 16px;
		}

		&__cards-feature {
			font-size: 14px;
		}

		&__cards-price {
			font-size: 14px;
		}

		&__button {}
	}

	.button {
		// padding: 10px 20px;
		text-align: center;
		font-size: 14px;
	}
}

/*------------------------------ 360 ------------------------------*/

@media (max-width: 360px) {
	.container {
		padding: 0 20px;
	}

	.compilations {
		&__grid {
			grid-template: repeat(3, 1fr) / repeat(2, 1fr);
		}

		&__item-title {
			font-size: 14px;
		}

		&__item {
			margin-bottom: 8px;
		}
	}

	.form {
		input {
			font-size: 14px;
			line-height: 1;
		}

		input::placeholder {
			font-size: 10px;
			line-height: 1;
		}
	}
}


/*------------------------------ 350 ------------------------------*/

@media (max-width: 350px) {


	.form {
		padding: 20px;
		min-width: auto;
	}

	.header {
		&__top {
			padding-top: 20px;
		}

		&__top-inner {
			flex-direction: column;
		}

		&__top-left {
			margin: 0 auto;
		}

		&__logo {
			margin-right: 0;
			margin-bottom: 20px;
		}

		&__top-right {
			// margin: 0 auto;
			margin: 0;
			justify-content: space-evenly;
		}

		&__search-pop-up {
			top: -20px;
			height: 95px;
			padding: 20px;
		}

		&__search-pop-up--fixed {
			height: 125px;
			top: -20px !important;
		}

		&__top--hidden {
			transform: translateY(-125px);
		}

		&__hide-button {
			top: 110px;
		}

		&__compilation-button {
			top: 110px;
		}
	}

	.cervices {
		&__grid-link {
			width: 250px;
		}
	}

	.rent {
		.container {
			padding: 0 20px;
		}

		&__form {
			padding: 20px 38px 20px 20px;
		}

		&__form-tooltip {
			right: -33px;
		}

		&__button {}
	}
}