@import "reset";
@import "fonts";

html {
	scroll-behavior: smooth;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
}

.heading {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 800;
	font-size: 40px;
	line-height: 150%;
	color: #333333;
}

.button {
	a {
		display: block;
	}

	display: block;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 150%;
	color: #000;
	padding: 11px 60px 12px;
	transition: all .3s;
	background: #fff;
	border-radius: 200px;
	border: 1px solid black;
	text-align: center;
}

.button:hover {
	a {
		color: #fff;
	}

	background: #F4683F;
	color: #fff;
	transform: scale(1.1);
	border: 1px solid #F4683F;
}

.container {
	padding: 0 260px;
	height: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

/*------------------------------ FORM ------------------------------*/


.form {
	font-family: 'Montserrat';
	font-style: normal;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
	visibility: hidden;
	opacity: 0;
	position: absolute;
	transition: all .3s;
	z-index: 100;
}

.form--visible {
	visibility: visible;
	opacity: 1;
}

.form__title {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
	line-height: 130%;
	color: #333333;
	margin-bottom: 58px;
}

.form__subtitle {
	font-weight: 600;
	font-size: 18px;
	line-height: 160%;
	color: #000000;
	margin-bottom: 60px;
}

.form__input {
	border: 1px solid #C0C2D7;
	border-radius: 250px;
	height: 50px;
	padding: 12px 0 14px 20px;
	margin-bottom: 20px;
	position: relative;

	input {
		width: 90%;
		font-weight: 600;
		font-size: 16px;
		line-height: 150%;
		color: #000;
		display: block;
	}

	input::placeholder {
		font-weight: 600;
		font-size: 16px;
		line-height: 150%;
		color: #C0C2D7;
		display: block;
	}
}

.form__input--incorrect {
	border: 1px solid black;

	input::placeholder {
		color: red;
	}
}

.form__button {
	width: 100%;
}

.form__text {
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	color: #000000;
	margin-bottom: 145px;
}

.form__tooltip {
	position: absolute;
	top: 10px;
	right: -45px;
}

.form__tooltip-frame {
	background: url('../img/5.rent/tooltip-frame.png');
	width: 320px;
	height: 132px;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: #FFFFFF;
	padding: 20px 34px 40px 20px;
	position: absolute;
	top: -116px;
	right: -356px;
	visibility: hidden;
	opacity: 0;
	transition: all .3s;
}

.form__tooltip-frame--visible {
	visibility: visible;
	opacity: 1;
}

.form__button {
	width: 100%;
}

.form__cross {
	position: absolute;
	top: -40px;
	right: 0px;
	transition: all .2s;
}

.form__cross-link {
	svg path {
		fill: #333;
	}
}

.form__cross:hover {
	transform: scale(1.2);
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
	background: rgba(0, 0, 0, 0.350);
	visibility: hidden;
	opacity: 0;
	transition: all .3s;
}

.overlay--show {
	visibility: visible;
	opacity: 1;
}

/*==================================== HEADER ====================================*/
/*==================================== HEADER ====================================*/

.header {
	background: url('../img/1.header/header-bg.jpg') center / cover no-repeat, #000;
	font-family: montserrat;

	&__inner {
		min-height: 100vh;
		// height: 949px;
		display: flex;
		flex-direction: column;
	}

	.container {
		padding: 0 60px;
	}


	// 	/*------------------------------ HEADER TOP ------------------------------*/


	&__top {
		padding-top: 42px;
		transition: all .3s;
		padding-bottom: 30px;
		font-size: 18px;
		position: fixed;
		width: 100%;
	}

	&__top-wrapper {
		transform: translate(0, -100px);
		transition: all .5s 4s;
	}

	&__top--hidden {
		transform: translateY(-90px);
	}

	&__top-inner {
		display: flex;
		position: relative;
	}

	&__top-left {
		display: flex;
		align-items: center;
	}

	&__logo {
		margin-right: 40px;
	}

	&__city {
		margin-right: 21px;
	}

	&__city:hover &__dropdown {
		visibility: visible;
		opacity: 1;
	}

	&__city-link {
		color: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 109px;
	}

	/*------------------------------ dropdown ------------------------------*/
	&__dropdown {
		visibility: hidden;
		opacity: 0;
		transition: all .3s;
		position: absolute;
		padding: 10px 10px 10px 20px;
		border-radius: 20px;
	}

	&__dropdown-item {
		padding: 8px 0;
	}

	&__dropdown-item:hover &__dropdown-link {
		color: #F4683F;
	}

	&__dropdown-link {
		transition: all .3s;
		color: #fff;
	}

	/*----------------------------------------------------------------------*/

	&__button-box {
		display: flex;
	}

	&__button {
		color: #fff;
		background: transparent;
		border-color: #fff;
		padding: 8px 30px 10px;
		z-index: 2;
	}

	&__compilations {
		display: none;
	}

	&__top-center {
		margin: 0 auto;
		display: flex;
		align-items: center;
	}

	&__links {
		display: flex;
		align-items: center;
	}

	&__links-item {
		padding: 0 15px;
	}

	&__links-link {
		color: #fff;
		transition: all .3s;

		&:hover {
			color: #F4683F;
		}
	}

	&__top-right {
		display: flex;
	}

	&__favourites {
		display: flex;
		align-items: center;
		padding: 0 15px;
	}

	&__favourites-link svg path {
		transition: all .3s;
	}

	&__favourites-link:hover {
		svg path {
			fill: #F4683F;
		}
	}

	&__search {
		display: flex;
		align-items: center;
		padding: 0 15px;
	}

	&__search-link {
		color: #fff;
		display: flex;
		align-items: center;
	}

	&__search-link:hover &__search-text {
		color: #F4683F;
	}

	&__search-link:hover &__search-icon {
		svg path {
			fill: #F4683F;
		}
	}

	&__search-icon {
		svg path {
			transition: all .3s;
		}

		margin-right: 10px;
	}

	&__search-text {
		transition: all .3s;
	}

	&__phone {
		display: flex;
		align-items: center;
		padding: 0 0 0 15px;
	}

	&__phone-link {
		color: #fff;
		display: flex;
		align-items: center;
	}

	&__phone-link:hover &__phone-text {
		color: #F4683F;
	}

	&__phone-link:hover &__phone-icon {
		svg path {
			fill: #F4683F;
		}
	}

	&__phone-icon {
		svg path {
			transition: all .3s;
		}

		margin-right: 10px;
	}

	&__phone-text {
		transition: all .3s;
	}

	&__burger {
		display: none;
		align-items: center;
	}

	&__burger-link {
		display: flex;
		align-items: center;
	}


	/*------------------------------ pop up ------------------------------*/

	&__search-pop-up {
		transition: all .3s;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		z-index: 100;
		background: #fff;
		width: 1000px;
		top: 110px;
		right: 210px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 45px 60px;
		border-radius: 20px;
		box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
	}

	&__search-pop-up--active {
		transition: all .3s;
		visibility: visible;
		opacity: 1;
	}

	&__search-input {
		max-width: 600px;
		position: relative;
		margin-left: 28px;

		input {
			width: 600px;
		}
	}

	&__search-input::before {
		content: '';
		display: block;
		position: absolute;
		background: url('../img/1.header/search-icon-pop-up.png') 0 0 / 20px 20px;
		width: 20px;
		height: 20px;
		top: -3px;
		left: -28px;
	}

	&__search-input::after {
		content: '';
		display: block;
		position: absolute;
		background: #C0C2D7;
		width: 680px;
		height: 1px;
		top: 28px;
		left: -28px;
	}

	&__search-button--small {
		display: none;
	}

	/*---------------------------------------------------------------------*/



	&__hide-button {
		position: absolute;
		font-weight: 600;
		top: 80px;
		right: 0px;
		font-family: roboto;
		font-size: 12px;
		z-index: 2;
		line-height: 120%;
	}

	&__hide-link {
		display: block;
		color: #7B7B7B;
		transition: all .3s;
	}

	&__hide-link--small {
		display: none;
	}

	&__compilation-button {
		line-height: 120%;
		position: absolute;
		top: 80px;
		left: 0px;
		font-family: roboto;
		font-size: 12px;
		z-index: 2;
		display: none;
	}

	&__compilation-link {
		font-weight: 600;
		display: block;
		color: #7B7B7B;
		transition: all .3s;
	}

	/*------------------------------ HEADER TOP FIXED ------------------------------*/


	&__top--fixed {
		transition: all .3s;
		position: fixed;
		width: 100%;
		z-index: 101;
		background: #fff;
		padding: 20px 0;
		font-family: 'Montserrat';
		box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
		font-size: 18px;
		border-top: 1px solid #e5e5e5;

		a {
			font-style: normal;
			font-weight: 600;
			// font-size: 18px;
			// line-height: 22px;
			color: #333;
		}

		.header {
			&__dropdown {
				background: #fff;
			}

			&__phone {
				display: none;
			}

			&__search-icon {
				svg path {
					fill: #333;
				}
			}

			&__button {
				border-color: #333;
			}

			&__button:hover {
				a {
					color: #fff;
				}

				border: 1px solid #F4683F;
			}

			&__favourites {
				svg path {
					fill: #333;
				}
			}

			&__favourites-link:hover {
				svg path {
					fill: #F4683F;
				}
			}

			&__compilations {
				display: block;
				margin-left: 20px;
			}


			&__hide-button {
				padding: 12px 10px;
				border-radius: 10px;
				background: #cfcfcf;
				box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);

				a {
					color: #333;
				}
			}

			&__compilation-button {
				padding: 12px 10px;
				border-radius: 10px;
				background: #cfcfcf;
				box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);

				a {
					color: #333;
				}
			}

			&__search-pop-up {
				top: 80px !important;
			}
		}
	}



	/*------------------------------ SIDE ------------------------------*/

	&__side {
		transform: translateX(100%);
		display: none;
	}



	// 	/*==================================== HEADER BODY ====================================*/

	&__body {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 140px 0 80px;
	}

	&__body-inner {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		height: 100%;
		width: 100vw;
	}

	// INFO

	&__body-info {
		max-width: 600px;
	}

	&__body-heading {
		font-family: raleway;
		font-weight: 800;
		font-size: 60px;
		line-height: 140%;
		letter-spacing: 0.02em;
		color: #fff;
		margin-bottom: 30px;
		transform: translate(-100px, 0);
		transition: all .5s;
	}

	&__body-text {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 25px;
		line-height: 150%;
		color: #FFFFFF;
		margin-bottom: 91px;
		transform: translate(-100px, 0);
		transition: all .5s .5s;
	}

	&__body-text--alter {
		display: none;
		transform: translate(-100px, 0);
		transition: all .5s .5s;
	}

	&__slider-outer {
		display: block;
		position: relative;
		margin-bottom: 80px;
		transform: translate(-100px, 0);
		transition: all .5s 1.5s;
	}

	&__slide-inner {
		padding: 0 18px;
		overflow: visible;
	}

	&__slide {
		display: block;
	}

	&__slide-image {
		margin-bottom: 14px;

		img {
			width: 160px;
			height: 100px;
			border-radius: 16px;
		}
	}

	&__slide-caption {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 150%;
		text-align: center;
		color: #FFFFFF;
	}

	&__slider-arrow-prev {
		position: absolute;
		top: 40px;
		left: -34px;
	}

	&__slider-arrow-next {
		position: absolute;
		top: 40px;
		right: -26px;
	}


	&__application {
		display: none;
	}

	&__socials {
		max-width: 205px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__socials-item {
		transform: translate(0, 0) scale(0);

		&:nth-child(1) {
			transition: all .5s 2s;
		}

		&:nth-child(2) {
			transition: all .5s 2.25s;
		}

		&:nth-child(3) {
			transition: all .5s 2.5s;
		}

		&:nth-child(4) {
			transition: all .5s 2.75s;
		}

		&:nth-child(5) {
			transition: all .5s 3s;
		}
	}

	&__socials-link svg path {
		transition: all .3s;
	}



	&__socials-item:hover &__socials-link svg path {
		fill: #F4683F;
	}

	// FORM

	&__form {
		height: 497px;
		background: #fff;
		border-radius: 20px;
		padding: 59px 40px 57px;
		align-self: start;
		transform: translate(100px, 0);
		transition: all .5s 3.5s;
	}

	&__form-data {
		margin-bottom: 26px;
	}

	&__form-dates {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;

		.header__form-field::before {
			content: '';
			display: block;
			width: 1px;
			height: 36px;
			background: #C0C2D7;
			position: absolute;
			top: 6px;
			left: 140px;
		}
	}

	&__form-labels {
		width: 240px;
		display: flex;
		justify-content: space-between;
		margin-bottom: 6px;
	}

	&__form-label {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 150%;
		color: #444444;
	}

	&__form-field {
		border: 1px solid #C0C2D7;
		display: flex;
		width: 280px;
		height: 50px;
		border-radius: 200px;
		position: relative;
	}

	&__form-input {
		display: flex;

		input {
			margin-left: 22px;
			width: 100px;
			display: block;

			&::placeholder {
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 150%;
				color: #C0C2D7;
				padding: 0 10px;
			}
		}
	}

	&__form-people {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 48px;
	}


	&__form-price {
		padding: 10px 16px;

		&::after {
			content: "";
			clear: both;
			display: table;
		}
	}


	&__form-price .ui-slider {
		position: relative;
		background: #808080;
		height: 2px;
	}

	&__form-price .ui-slider .ui-slider-handle {
		position: absolute;
		width: 8px;
		height: 23px;
		cursor: pointer;
		border-radius: 10px;
		top: -10px;
		background: #F4683F;
		z-index: 2;

	}

	&__form-price-left-outer {
		float: left;
	}

	&__form-price-right-outer {
		float: right;
	}

	&__form-price-left-outer,
	&__form-price-right-outer {
		margin-top: 30px;
		display: flex;
		align-items: center;

		input {
			width: 70px;
		}

		font-size: 18px;
	}

	&__form-price-left,
	&__form-price-right {
		text-align: center;
		font-size: 18px;
		width: 140px;
		// margin-top: 30px;
	}

	&__form-price-left {
		float: left;
	}

	&__form-price-right {
		float: right;
	}

	&__form-link {
		margin: 0 auto;
		display: flex;
		width: 280px;
		height: 50px;
		justify-content: center;
		align-items: center;
	}

	/*==================================== HEADER BOTTOM ====================================*/

	&__bottom {
		display: none;
	}
}

/*==================================== ABOUT ====================================*/
/*==================================== ABOUT ====================================*/


.about {
	padding-top: 200px;
	padding-bottom: 200px;
	background: url('../img/2.about-us/about-bg.jpg') right / 50% no-repeat;

	&__heading {
		margin-bottom: 76px;
	}

	&__items-inner {
		display: flex;
		justify-content: space-between;
	}

	&__items-item {
		margin-right: 80px;
		max-width: 331px;
		min-width: 240px;
	}

	&__items-item:last-child {
		margin-right: 0px;
	}

	&__items-icon {
		margin-bottom: 20px;
	}

	&__items-text {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 160%;
		color: #333333;
	}
}

/*==================================== COMPILATIONS ====================================*/
/*==================================== COMPILATIONS ====================================*/


.compilations {
	display: none;
	padding-top: 90px;
	margin-bottom: 100px;

	&__heading {
		margin-bottom: 40px;
	}

	&__grid {
		display: grid;
		grid-template: repeat(3, 1fr) / repeat(2, 1fr);
		justify-items: center;
		column-gap: 22px;
	}

	&__item {
		min-width: 110px;
		margin-bottom: 22px;
		transition: all .3s;
	}

	&__item:hover {
		transform: scale(1.05);
	}

	&__item-link {
		display: block;
	}

	&__item-image {
		margin-bottom: 10px;

		img {
			border-radius: 16px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__item-title {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 160%;
		text-align: center;
		color: #333333;
	}
}

/*==================================== POPULAR ====================================*/
/*==================================== POPULAR ====================================*/



.popular {
	margin-bottom: 200px;

	&__heading {
		margin-bottom: 80px;
	}

	&__cards-grid {
		display: grid;
		grid-template: repeat(2, 1fr) / repeat(3, 1fr);
		// justify-items: center;
		gap: 40px;
		margin-bottom: 80px;
	}

	&__cards-card {
		max-width: 440px;
		border-radius: 20px;
		background: #fff;
		position: relative;
		box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
		transition: all .3s;
	}

	&__cards-card:hover {
		transform: scale(1.1);
	}

	&__cards-image {
		margin-bottom: 30px;
		position: relative;

		img {
			width: 100%;
			border-radius: 20px 20px 0 0;
		}
	}

	&__cards-amount {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 150%;
		color: #727488;
		background: #fff;
		padding: 7px 12px 8px 39px;
		border-radius: 50px;
		position: absolute;
		top: 30px;
		right: 30px;
	}

	&__cards-amount::before {
		content: '';
		display: block;
		width: 14px;
		height: 19px;
		background: url('../img/3.popular/icons/icon_person.svg');
		position: absolute;
		top: 7px;
		left: 20px;
	}

	&__cards-like {
		background: #ffffff80;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		position: absolute;
		right: 20px;
		bottom: 20px;

		// position: relative;
		svg {
			position: absolute;
			top: 32%;
			left: 30%;
		}

		transition: all .3s;
	}

	&__cards-like--active {
		& svg path {
			fill: #F4683F;
		}
	}

	&__cards-like:active {
		transform: scale(0.9);
	}

	&__cards-info {
		padding: 0px 30px;
	}

	&__cards-title {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 800;
		font-size: 24px;
		line-height: 150%;
		color: #333333;
		margin-bottom: 16px;
	}

	&__cards-features {
		margin-bottom: 27px;
	}

	&__cards-feature {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 150%;
		color: #727488;
		position: relative;
		margin-bottom: 8px;
		padding-left: 35px;
	}

	&__cards-feature:first-child::before {
		content: '';
		display: block;
		background: url('../img/3.popular/icons/icon_bed.svg');
		width: 23px;
		height: 17px;
		position: absolute;
		top: 5px;
		left: 0px;
	}

	&__cards-feature:nth-child(2)::before {
		content: '';
		display: block;
		background: url('../img/3.popular/icons/icon_entertainment.svg');
		width: 19px;
		height: 19px;
		position: absolute;
		top: 4px;
		left: 0px;
	}

	&__cards-feature:nth-child(3)::before {
		content: '';
		display: block;
		background: url('../img/3.popular/icons/icon_sauna.svg');
		width: 17px;
		height: 24px;
		position: absolute;
		top: 0px;
		left: 0px;
	}

	&__cards-feature:last-child::before {
		content: '';
		display: block;
		background: url('../img/3.popular/icons/icon_waterpool.svg');
		width: 21px;
		height: 19px;
		position: absolute;
		top: 5px;
		left: 0px;
	}

	&__cards-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;
	}

	&__cards-price {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 800;
		font-size: 22px;
		line-height: 150%;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #333333;
	}

	&__cards-details {
		margin-right: 0;
	}

	&__cards-link {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 150%;
		color: #333333;
		transition: all .3s;
	}

	&__cards-link:hover {
		color: #F4683F;
	}

	&__button {
		max-width: 280px;
		margin: 0 auto;
		padding: 10px 40px;
		display: block;
	}
}

/*==================================== CERVICES ====================================*/
/*==================================== CERVICES ====================================*/



.cervices {
	margin-bottom: 150px;

	&__content {
		width: 100%;
	}


	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}

	&__heading {
		margin-bottom: 80px;
	}

	&__grid {
		display: grid;
		grid-template: repeat(2, 1fr) / repeat(3, 1fr);
		margin-bottom: 60px;
		gap: 40px;
	}

	&__grid-link {
		padding: 49px 0px 50px 44px;
		border-radius: 20px;
		box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
		display: flex;
		align-items: center;
		transition: all .3s;
		background: #fff;
	}

	&__grid-link:hover {
		transform: scale(1.1);
	}

	&__grid-icon {
		margin-right: 22px;
	}

	&__grid-title {
		margin-right: 40px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 150%;
		color: #333333;
	}

	&__button {
		max-width: 280px;
		margin: 0 auto;
		padding: 10px 40px 13px;
	}

	&__form {
		max-width: 550px;
		padding: 80px 96px 97px;
		top: -14px;
	}
}


/*==================================== FAQ ====================================*/
/*==================================== FAQ ====================================*/


.faq {
	padding-top: 100px;
	margin-bottom: 250px;

	&__heading {
		margin-bottom: 80px;
	}

	&__acc-item {
		// margin-bottom: 28px;
		position: relative;
		padding: 28px 0;
	}

	&__acc-item::before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 1px;
		left: 0px;
		top: 0px;
		background: #C0C2D7;
	}

	&__acc-item:last-child:after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 1px;
		left: 0px;
		bottom: 0px;
		background: #C0C2D7;
	}

	&__acc-question {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__acc-question-text {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 800;
		font-size: 22px;
		line-height: 150%;
		color: #333333;
	}

	&__acc-question:hover {
		cursor: pointer;
	}

	&__acc-question-button-box {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-right: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all .3s;
	}

	&__acc-question-button-box:hover {
		background: #EEEEEE;
		cursor: pointer;
	}

	&__acc-answer {
		margin-top: 17px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 160%;
		color: #000000;
		max-width: 1290px;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
	}

	// &__acc-item--active {
	// 	.line2 {
	// 		transform: rotate(180deg);
	// 	}
	// }
}

.line1 {
	position: absolute;
	display: block;
	width: 14px;
	height: 2px;
	background: #000;
}

.line2 {
	transition: all .3s;
	position: absolute;
	display: block;
	width: 14px;
	height: 2px;
	background: #000;
	transform: rotate(90deg);
}

.line2--active {
	transition: all .3s;
	position: absolute;
	display: block;
	width: 14px;
	height: 2px;
	background: #000;
	transform: rotate(180deg);
}

/*==================================== RENT ====================================*/
/*==================================== RENT ====================================*/


.rent {
	background: url('../img/5.rent/rent-bg.jpg') center 0px / cover no-repeat;
	padding-top: 116px;
	padding-bottom: 60px;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1200px;
	}

	&__heading {
		color: #fff;
		margin-bottom: 20px;
	}

	&__info {
		margin-right: 20px;
	}

	&__text {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 160%;
		color: #FFFFFF;
		margin-bottom: 60px;
		max-width: 360px;
	}

	&__button {
		padding: 10px 51px 13px 50px;
		max-width: 262px;
	}

	&__button:active {
		transform: scale(0.9);
	}


	&__form {
		max-width: 500px;
		padding: 80px 96px 97px;
		position: relative;
	}

}


/*==================================== FOOTER ====================================*/
/*==================================== FOOTER ====================================*/


.footer {
	background: linear-gradient(180deg, #161723 0%, #161723 109.24%);

	&__top {
		padding-top: 78px;
	}

	&__top-inner {
		display: flex;
		justify-content: space-between;
		align-items: start;
	}


	&__logo-link {
		display: block;
		// height: 38px;
	}

	&__catalog-title {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 800;
		font-size: 22px;
		color: #FFFFFF;
		margin-bottom: 17px;
	}

	&__list-item {
		margin-bottom: 12px;
	}

	&__list-link {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		color: #C0C2D7;
		transition: all .3s;
	}

	&__list-link:hover {
		color: #F4683F;
	}

	&__links-item {
		margin-bottom: 13px;
	}

	&__links-link {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		color: #C0C2D7;
		transition: all .3s;
	}

	&__links-link:hover {
		color: #F4683F;
	}

	&__tel {
		display: flex;
		align-items: center;
		position: relative;
		padding-left: 24px;
	}

	&__tel-icon {
		margin-right: 9.5px;
		position: absolute;
		top: 2px;
		left: 0px;
	}

	&__tel-icon svg path {
		transition: all .3s;
	}

	&__tel:hover &__tel-icon svg path {
		fill: #F4683F;
	}


	&__tel-number {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		color: #C0C2D7;
		transition: all .3s;
	}

	&__tel:hover &__tel-number {
		color: #F4683F;
	}

	&__bottom {
		padding-bottom: 70px;
		margin-top: -50px;
	}

	&__bottom-inner {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		margin-bottom: 4px;
	}

	&__link:hover {
		color: #F4683F;
	}

	&__link {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 150%;
		color: #404256;
		transition: all .3s;
	}

	&__socials {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 207px;
		flex: 1 1 auto;
	}

	&__socials-item svg path {
		transition: all .3s;
	}

	&__socials-item:hover {
		svg path {
			fill: #F4683F;
		}
	}
}




@import "media";

/*==================================== ANIMATION ====================================*/

.loading,
.anim-item {
	opacity: 0;
}

.loaded,
.anim-item--active {
	opacity: 1;
	transform: translate(0, 0);
	transform: scale(1);
	transform: translate(0, 0) scale(1);
}